<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/presets.css" type="text/css" />
    <link href="../public/css/navbar.css" type="text/css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <%- include("../views/navbar")%>
    <div class="container">
        <% artifacts.map(artifact => { %>
            <div class="set-container">
                <% if (artifact.flower.name !== 'none') { %>
                     <img src="../public/images/artifacts/<%= artifact.name.toLowerCase() %>/flower.png " alt="<%= artifact.name %>">
                     <p><%= artifact.name %> </p>
                <% } else { %>
                    <img src="../public/images/artifacts/<%= artifact.name.toLowerCase() %>/circlet.png " alt="<%= artifact.name %>">
                    <p><%= artifact.name %> </p>
                <% } %> 
            </div>
        <% }) %>
    </div>
</body>
<style>
    .container{
        margin: 7rem;
        padding:1rem;
        background-color: whitesmoke;
        width:75vw;
        height: 75vh;
        display:grid;
        grid-template-columns: repeat(6, 1fr);
        overflow: scroll;
    }
</style>
</html>