<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/presets.css" type="text/css" />
    <link href="../public/css/navbar.css" type="text/css" rel="stylesheet" />

    <title>Character</title>
</head>

<body>
    <%- include("../views/navbar")%>
        <section id="character_List">
            <% if(character.length> 0) {%>
                <div class="container">
                    <div class="bg-title <%= character[0].element%>">
                        <div class="char-title">
                            <div class="vision">
                                <img src="/public/images/elements/<%= character[0].element.toLowerCase()%>.png"
                                    alt="vision element" />
                            </div>
                            <div class="center-titles">
                                <h4>
                                    <%= character[0].name %>
                                </h4>
                                <div class="stars-container">
                                    <% for(let i=0; i < character[0].star; i++) { %>
                                        <img class="stars" src="/public/images/misc/star.png" alt="star" />
                                        <% } %>
                                </div>
                            </div>
                            <div class="weapon">
                                <img src="/public/images/weapon_icons/<%=character[0].weapon.toLowerCase()%>.png"
                                    alt="weapon-type" />
                            </div>
                        </div>
                    </div>
                    <div class="char-info">
                        <div class="img-side">
                            <img id="img-src"
                                src="/public/images/portrait/<%=character[0].name.toLowerCase().replace(' ','_')%>.png"
                                alt="portrait" />
                        </div>
                        <div class="details-side">
                            <div class="region">
                                <%=character[0].region%>
                            </div>
                            <div class="constellation">
                                <%=character[0].constellation%>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
        </section>
        <audio id="the_audio" loop>
            <source src="../public/miscs/Radiant_Qilin.mp3" type="audio/mp3">
        </audio>
</body>
<script src="../public/scripts/audio.js"></script>
<style>
    section {
        min-height: 100vh;
        max-width: 100%;
        display: block;
        padding: 106px 0;
    }

    .container {
        margin: 0 auto;
        height: 100rem;
        width: 90%;
        background: lightblue;
        border-radius: 10px 10px;
    }

    .bg-title.Anemo {
        background: #E27291;
    }

    .bg-title.Hydro {
        background: #EB2B21;
    }

    .bg-title.Cryo {
        background: #E9A0A4;
    }

    .bg-title.Electro {
        background: #7BCB57;
    }

    .bg-title.Dendro {
        background: #C1235A;
    }

    .bg-title.Pyro {
        background: #5DC9FE;
    }

    .bg-title.Geo {
        background: #4272E3;
    }

    .char-title {
        font-size: 3rem;
        padding: .5rem 0;
        text-align: center;
        border-radius: 10px 10px 0 0;
        max-height: 120px;
        display: flex;
        width: fit-content;
        flex-direction: row;
        margin: 0 auto;
    }

    .vision,
    .weapon {
        width: 78px;
        height: 78px;
    }

    .vision *,
    .weapon * {
        height: 100%;
        width: 100%;
    }

    .stars-container {
        display: flex;
        width: fit-content;
        margin: 0 auto;
    }

    .stars {
        max-height: 1.5rem;
        max-width: 1.5rem;
    }

    .char-info {
        height: calc(100% - 7rem);
        display: flex;
        flex-basis: 100%;
        flex-grow: 1;
    }

    .img-side,
    .details-side {
        height: fit-content;
        width: 45%;
        margin: .25rem 1.5rem;
    }

    #img-src {
        margin: .5rem auto;
    }
</style>

</html>