<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/presets.css" type="text/css" />
    <link href="../public/css/navbar.css" type="text/css" rel="stylesheet" />
    <script src="https://unpkg.com/boxicons@2.1.1/dist/boxicons.js"></script>
    <title>Weapons</title>
</head>

<body>
    <%- include("../views/navbar")%>
        <h1>Weapons</h1>
        <ul class="wep-nav">
            <li>
                <a href="#swords">SWORDS</a>
            </li>
            <li>
                <a href="#claymores">CLAYMORES</a>
            </li>
            <li>
                <a href="#polearms">POLEARMS</a>
            </li>
            <li>
                <a href="#bows">BOWS</a>
            </li>
            <li>
                <a href="#catalysts">CATALYSTS</a>
            </li>
        </ul>
        <section>
            <table class="table" id="swords">
                <caption>SWORDS</caption>
                <tr>
                    <th>WEAPON NAME</th>
                    <th>RARITY</th>
                    <th>ATK</th>
                    <th>SUB STAT</th>
                    <th>SUB STAT RANGE</th>
                    <th>MATERIAL</th>
                </tr>
                <% weapons.map((weapon)=> { %>
                    <% if(weapon.type==="Sword" ) { %>
                        <tr>
                            <td>
                                <%= weapon.name %>
                            </td>
                            <td>
                                <%= weapon.rarity %>
                            </td>
                            <td>
                                <%= weapon.base_atk%> - <%= weapon.maxed_atk %>
                            </td>
                            <td>
                                <%= weapon.sub_stat %>
                            </td>
                            <td>
                                <%= weapon.sub_base_value %> - <%= weapon.sub_max_value %>
                            </td>
                            <td class="mats">
                                <% for(let i=0; i < weapon.ascension_mats.length; i++) { %>
                                    <img src="/public/images/materials/<%= weapon.ascension_mats[i].split(' ').join('_') %>.png"
                                        alt="<%= weapon.ascension_mats[i].split(' ').join('_')%>" />
                                    <% } %>
                            </td>
                        </tr>
                        <% }}) %>
            </table>
            <table class="table" id="claymores">
                <caption>CLAYMORES</caption>
                <tr>
                    <th>WEAPON NAME</th>
                    <th>RARITY</th>
                    <th>ATK</th>
                    <th>SUB STAT</th>
                    <th>SUB STAT RANGE</th>
                    <th>MATERIAL</th>
                </tr>
                <% weapons.map((weapon)=> { %>
                    <% if(weapon.type==="Claymore" ) { %>
                        <tr>
                            <td>
                                <%= weapon.name %>
                            </td>
                            <td>
                                <%= weapon.rarity %>
                            </td>
                            <td>
                                <%= weapon.base_atk%> - <%= weapon.maxed_atk %>
                            </td>
                            <td>
                                <%= weapon.sub_stat %>
                            </td>
                            <td>
                                <%= weapon.sub_base_value %> - <%= weapon.sub_max_value %>
                            </td>
                            <td class="mats">
                                <% for(let i=0; i < weapon.ascension_mats.length; i++) { %>
                                    <img src="/public/images/materials/<%= weapon.ascension_mats[i].split(' ').join('_') %>.png"
                                        alt="<%= weapon.ascension_mats[i].split(' ').join('_')%>" />
                                    <% } %>
                            </td>
                        </tr>
                        <% }}) %>
            </table>
            <table class="table" id="polearms">
                <caption>POLEARMS</caption>
                <tr>
                    <th>WEAPON NAME</th>
                    <th>RARITY</th>
                    <th>ATK</th>
                    <th>SUB STAT</th>
                    <th>SUB STAT RANGE</th>
                    <th>MATERIAL</th>
                </tr>
                <% weapons.map((weapon)=> { %>
                    <% if(weapon.type==="Polearm" ) { %>
                        <tr>
                            <td>
                                <%= weapon.name %>
                            </td>
                            <td>
                                <%= weapon.rarity %>
                            </td>
                            <td>
                                <%= weapon.base_atk%> - <%= weapon.maxed_atk %>
                            </td>
                            <td>
                                <%= weapon.sub_stat %>
                            </td>
                            <td>
                                <%= weapon.sub_base_value %> - <%= weapon.sub_max_value %>
                            </td>
                            <td class="mats">
                                <% for(let i=0; i < weapon.ascension_mats.length; i++) { %>
                                    <img src="/public/images/materials/<%= weapon.ascension_mats[i].split(' ').join('_') %>.png"
                                        alt="<%= weapon.ascension_mats[i].split(' ').join('_')%>" />
                                    <% } %>
                            </td>
                        </tr>
                        <% }}) %>
            </table>
            <table class="table" id="bows">
                <caption>BOWS</caption>
                <tr>
                    <th>WEAPON NAME</th>
                    <th>RARITY</th>
                    <th>ATK</th>
                    <th>SUB STAT</th>
                    <th>SUB STAT RANGE</th>
                    <th>MATERIAL</th>
                </tr>
                <% weapons.map((weapon)=> { %>
                    <% if(weapon.type==="Bow" ) { %>
                        <tr>
                            <td>
                                <%= weapon.name %>
                            </td>
                            <td>
                                <%= weapon.rarity %>
                            </td>
                            <td>
                                <%= weapon.base_atk%> - <%= weapon.maxed_atk %>
                            </td>
                            <td>
                                <%= weapon.sub_stat %>
                            </td>
                            <td>
                                <%= weapon.sub_base_value %> - <%= weapon.sub_max_value %>
                            </td>
                            <td class="mats">
                                <% for(let i=0; i < weapon.ascension_mats.length; i++) { %>
                                    <img src="/public/images/materials/<%= weapon.ascension_mats[i].split(' ').join('_') %>.png"
                                        alt="<%= weapon.ascension_mats[i].split(' ').join('_')%>" />
                                    <% } %>
                            </td>
                        </tr>
                        <% }}) %>
            </table>
            <table class="table" id="catalysts">
                <caption>CATALYSTS</caption>
                <tr>
                    <th>WEAPON NAME</th>
                    <th>RARITY</th>
                    <th>ATK</th>
                    <th>SUB STAT</th>
                    <th>SUB STAT RANGE</th>
                    <th>MATERIAL</th>
                </tr>
                <% weapons.map((weapon)=> { %>
                    <% if(weapon.type==="Catalyst" ) { %>
                        <tr>
                            <td>
                                <%= weapon.name %>
                            </td>
                            <td>
                                <%= weapon.rarity %>
                            </td>
                            <td>
                                <%= weapon.base_atk%> - <%= weapon.maxed_atk %>
                            </td>
                            <td>
                                <%= weapon.sub_stat %>
                            </td>
                            <td>
                                <%= weapon.sub_base_value %> - <%= weapon.sub_max_value %>
                            </td>
                            <td class="mats">
                                <% for(let i=0; i < weapon.ascension_mats.length; i++) { %>
                                    <img src="/public/images/materials/<%= weapon.ascension_mats[i].split(' ').join('_') %>.png"
                                        alt="<%= weapon.ascension_mats[i].split(' ').join('_')%>" />
                                    <% } %>
                            </td>
                        </tr>
                        <% }}) %>
            </table>
        </section>
        <audio id="the_audio" loop>
            <source src="../public/audio/2_4.mp3" type="audio/mp3">
        </audio>
        <script src="../public/scripts/audio.js"></script>

</body>


<style>
    h1 {
        margin: 10rem 0 2rem 0;
        font-size: 3rem;
        text-align: center;
        color: white;
    }

    .wep-nav {
        list-style: none;
        background: white;
        display: flex;
        justify-content: space-evenly;
        padding: 1rem 0;
        text-align: center;
    }

    .wep-nav li a {
        color: black;
        text-decoration: none;
    }

    section {
        width: 99%;
        margin: 0 auto;
    }

    table {
        background: #fee5cb;
        margin: 1.5rem auto;
        width: 80%;
    }

    caption {
        font-weight: bold;
        font-size: 1.5rem;
        width: fit-content;
        margin: 0 auto;
    }

    td,
    th {
        text-align: center;
        padding: .5rem .5rem;
    }

    .mats {
        display: flex;
        justify-content: space-evenly;
    }

    .mats *:nth-child(1),
    .mats *:nth-child(2) {
        background-image: url("/public/images/materials/2star.png");
        background-position: center;
        background-repeat: none;
        background-size: contain;
        padding: .5rem;
        max-width: 50px;
        max-height: 50px;
    }

    .mats *:nth-child(3) {
        background-image: url("/public/images/materials/1star.png");
        background-position: center;
        background-repeat: none;
        background-size: contain;
        padding: .5rem;
        max-width: 50px;
        max-height: 50px;
    }

    .mats *+* {
        margin-left: 1rem;
    }
</style>

</html>