<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/presets.css" type="text/css" />
    <link href="../public/css/navbar.css" type="text/css" rel="stylesheet" />
    <title>
        <%= weapon.name %>
    </title>
</head>

<body>
    <%- include("../navbar")%>
        <section class="basicdetails">
            <h1>
                <%= weapon.name %>
            </h1>
            <div class="container">
                <div class="left">
                    <div class="image-con">
                        <% if(weapon.name==='"The Catch"' ){ %>
                            <img
                                src='/public/images/fullsized_weapons/<%=weapon.type.toLowerCase()%>/The Catch/full.png'>
                            <% } else { %>
                                <img
                                    src='/public/images/fullsized_weapons/<%=weapon.type.toLowerCase()%>/<%= weapon.name.toLowerCase()%>/full.png'>
                                <% } %>
                    </div>
                </div>
                <div class="middle ascension">
                    <h3>ASCENSIONS</h3>
                    <% for(let i=0; i < weapon.ascension_mats.length; i++) { %>
                        <div class="group">
                            <div class="item-group">
                                <img src="/public/images/drops/<%= weapon.ascension_mats[i].item1.toLowerCase() %>.png"
                                    alt="<%= weapon.ascension_mats[0]%>" />
                                <span class="betweeners">
                                    X <%= weapon.ascension_mats[i].count1 %>
                                </span>
                            </div>
                            <div class="item-group">
                                <img src="/public/images/drops/<%= weapon.ascension_mats[i].item2.toLowerCase() %>.png"
                                    alt="<%= weapon.ascension_mats[0].item1%>" />
                                <span class="betweeners">
                                    X <%= weapon.ascension_mats[i].count2 %>
                                </span>
                            </div>
                            <div class="item-group">
                                <img src="/public/images/drops/<%= weapon.ascension_mats[i].item3.toLowerCase() %>.png"
                                    alt="<%= weapon.ascension_mats[0].item1%>" />
                                <span class="betweeners">
                                    X <%= weapon.ascension_mats[i].count2 %>
                                </span>
                            </div>
                            <div class="item-group">
                                <img src="/public/images/drops/Mora.png" alt="Mora" />
                                <span class="betweeners">
                                    X <%= weapon.ascension_mats[i].cost %>
                                </span>
                            </div>
                        </div>
                        <% } %>
                </div>
            </div>
            <h2>REFINMENTS</h2>
            <div class="refinement">
                <% if(weapon.refinement_abilities.length !==0) { %>
                    <% for(let j=0; j < weapon.refinement_abilities.length; j++) { %>
                        <div>
                            <%= weapon.refinement_abilities[j] %>
                        </div>

                        <% }} %>
            </div>
            <h2>LORE</h2>
            <div class="lore">
                <%= weapon.lore %>
            </div>
        </section>
        <div>
            <p>Random weapons</p>
        </div>
</body>

<style>
    body {
        background: black;
        color: white;
    }

    .basicdetails {
        width: 99%;
        margin: 0 auto;
        padding: 106px 0;
    }

    h1 {
        background: orange;
        font-size: 2rem;
        padding: .5rem 0;
        text-align: center;
        border-radius: 50px 50px;
        max-width: 500px;
        margin: 1rem auto
    }

    h2 {
        text-align: center;
        background: orange;
        border-radius: 10px 10px;
        margin: 2.5rem 0;
    }

    h3 {
        text-align: center;
        background: orange;
        border-radius: 10px 10px;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .left {
        height: 650px;
    }

    .image-con {
        width: 50vh;
        height: 600px;
        margin: 0 auto;
    }

    .image-con img {
        width: 100%;
        height: 100%;
    }

    .ascension {
        background: #202020;
        height: fit-content;
        padding: 1rem 1rem;
    }

    .refinement {
        max-width: 95%;
        background: #e1e1e1;
        padding: 1rem .5rem;
        margin: 0 auto;
    }

    .refinement * {
        background: #202020;
        margin: .5rem 0;
        padding: .7rem .75rem;
    }

    .group {
        display: flex;
    }

    .item-group {
        margin: 0 .2rem;
    }

    .item-group img {
        max-width: 90px;
        max-height: 90px;
    }

    .betweeners {
        display: block;
        text-align: center;
    }

    .refinement * {
        display: block;
        font-size: 1rem;
    }

    @media only screen and (max-width: 465px) {
        .item-group {
            margin: 0;
            width: 26%;
        }

        h1 {
            font-size: 1.5rem;
        }

        .ascension {
            width: 99%;
        }

        .group {
            width: 99%;
        }
    }
</style>

</html>