<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/presets.css" type="text/css" />
    <link href="../public/css/navbar.css" type="text/css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <%- include("../navbar")%>
    <div class="common-container">
      <section>
        <table>
          <tr>
            <th>Enemies</th>
            <th>Drops</th>
          </tr>
          <% const enemies = common.reduce((enemy, {family, group, name, drops}) => { %> 
            <% if(!enemy[family]) enemy[family] = []; %> 
            <% if(!enemy[family][group]) enemy[family][group] = {list:[],drop:[]}; %> 
            <% enemy[family][group].list.push(name); %> 
            <% if(enemy[family][group].drop.length === 0) enemy[family][group].drop.push(...drops) %> 
            <% return enemy; %> 
          <% }, []) %> 
          <% for(const fam in enemies){ %> 
            <tr>
              <th colspan="2"><%= fam %></th>
            </tr>
            <% for(const group in enemies[fam]) { %> 
              <tr>
                <td>
                  <div class="group-container">
                    <h1><%= group %></h1>
                    <div class="group-list-container">
                      <% enemies[fam][group].list.map(name => {  %>
                        <div>
                          <img src="../../public/images/enemies/common/<%= name.toLowerCase() %>/icon.png"alt="<%= name %>"/>
                          <p><%= name %> </p>
                        </div>
                        <% }) %>
                    </div>
                                    </td>
                                    <td>
                    <div class="drop-container">
                      <% enemies[fam][group].drop.map(name => {  %>
                          <img src="../../public/images/drops/<%= name.toLowerCase() %>.png"alt="<%= name %>"/>
                        <% }) %>
                    </div>
                  </div>
                </td>
              </tr>
              <% } %> 
          <% } %> 
        </table>
      </section>
    </div>
  </body>
  <style>

    table{
      width: 100%;
    }
    .common-container {
      margin: 7rem 3rem;
      padding: 3rem 0;
      background-color: rgba(255, 255, 255, 0.5);
    }

    img{
      height:100px;
      width:100px;
      border: 5px black solid;
    }

    .group-container{
      display: flex;
      flex-direction: column;
    }

    .group-list-container{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }

    .group-list-container p{
      width:100px;
      overflow-wrap: wrap
    }

    .drop-container{
      display: flex;
      flex-wrap: wrap;
    }

    .drop-container img{
      width: 60px;
      height: 60px;
    }

    th,td{
      outline: 1px solid black;
    }

    .drop-container img:nth-child(3n + 1){
      background: url("../../public/images/materials/1star.png") no-repeat center center/cover;
    }

    .drop-container img:nth-child(3n + 2){
      background: url("../../public/images/materials/2star.png") no-repeat center center/cover;
    }

    .drop-container img:nth-child(3n + 3){
      background: url("../../public/images/materials/3star.png") no-repeat center center/cover;
    }
  </style>
</html>