<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/presets.css" type="text/css" />
    <link href="../public/css/navbar.css" type="text/css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <%- include("../navbar")%>
    <div class="world-container">
        <table>
            <tr>
                <th>Enemy</th>
                <th>Drops</th>
            </tr>
            <% world.map((enemy) => { %>
              <tr>
                  <td>
                      <a href="/enemies/world_boss/<%= enemy.name %>"><%= enemy.name %> </a>
                      <img src="../../public/images/enemies/world/<%= enemy.name.toLowerCase() %>/icon.png" alt="<%= enemy.name %>">
                  </td>
                  <td>
                      <% enemy.drops.character_ascension.map(char => { %>
                          <img src="../../public/images/drops/<%= char.toLowerCase() %>.png"alt="<%= char %>"/>
                      <% }) %>
                  </td>
              </tr>
              <% }) %>
        </table>
    </div>
</body>
<style>
    .world-container{
        margin: 7rem 3rem;
        padding: 3rem 0;
        background-color: rgba(255, 255, 255, 0.5);
    }
</style>
</html>