<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/presets.css" type="text/css" />
    <link href="../public/css/navbar.css" type="text/css" rel="stylesheet" />
    <link href="../public/css/characters.css" type="text/css" rel="stylesheet" />
    <!-- <script src="https://unpkg.com/boxicons@2.1.1/dist/boxicons.js"></script> -->
    <title>Characters</title>
</head>

<body>
    <%- include("../navbar")%>
        <section>
            <div class="region container" style="display: flex; flex-wrap: wrap; justify-content: center;">
                <% list.map((char)=> { %>
                    <% if(char.name==='Lumine' || char.name==='Aether' ) { %>
                        <a href='/characters/<%=char.name%>(<%=char.element%>)'>
                            <% } else { %>
                                <a href='/characters/<%=char.name.replace(" ","_")%>'>
                                    <% } %>
                                        <div class="character-container">
                                            <div class="char-name"
                                                style="font-weight: bold; text-align: center; margin: .15rem 0;">
                                                <%= char.name %>
                                            </div>
                                            <div class="grid-con">
                                                <div class="elements">
                                                    <img class="elements"
                                                        src="/public/images/elements/<%= char.element.toLowerCase()%>.png"
                                                        alt="ERROR">
                                                </div>
                                                <div class="imgs">
                                                    <img class="imgs"
                                                        src="/public/images/character/<%= char.name.split(' ').join('_')%>/icon.png"
                                                        alt="ERROR">
                                                </div>
                                                <div class="weps">
                                                    <img class="weps"
                                                        src="/public/images/weapon_icons/<%= char.weapon.toLowerCase()%>.png"
                                                        alt="ERROR">
                                                </div>
                                            </div>
                                            <div class="stars">
                                                <% for(let i=0; i < char.star; i++) { %>
                                                    <img class="star" src="/public/images/misc/star.png" alt="star">
                                                    <% } %>
                                            </div>
                                        </div>
                                </a>
                                <% }) %>
            </div>
            <!-- old style -->
            <!-- <table id="table">
                <tr>
                    <th>ICON</th>
                    <th onclick="sortTable(0)">Name</th>
                    <th onclick="sortTable(1)">Star</th>
                    <th onclick="sortTable(2)">Element</th>
                    <th onclick="sortTable(3)">Weapon</th>
                    <th onclick="sortTable(4)">Region</th>
                </tr>
                <% list.map((char)=> { %>
                    <tr>
                        <td class="char-icon">
                            <img src="/public/images/character/<%= char.name.split(' ').join('_')%>/icon.png"
                                alt="fail">
                        </td>
                        <td style="font-weight: bold;">
                            <% if(char.name==='Lumine' || char.name==='Aether' ) { %>
                                <a href='/characters/<%=char.name%>(<%=char.element%>)'>
                                    <%= char.name %>
                                </a>
                                <% } else { %>
                                    <a href='/characters/<%=char.name%>'>
                                        <%= char.name %>
                                    </a>
                                    <% } %>
                        </td>
                        <td>
                            <%= char.star %>
                        </td>
                        <td class="<%= char.element %>">
                            <%= char.element %>
                                <img src="/public/images/elements/<%= char.element.toLowerCase()%>.png"
                                    alt="failed_to_load" />
                        </td>
                        <td>
                            <a href="/weapons/<%= char.weapon %>">
                                <%=char.weapon%>
                            </a>
                        </td>
                        <td>
                            <%if(char.region !=='Unknown' ) { %>
                                <a href="/regions/<%= char.region %>">
                                    <%=char.region%>
                                </a>
                                <% } else { %>
                                    <%=char.region%>
                                        <% } %>
                        </td>
                    </tr>
                    <% }) %>
            </table> -->
        </section>
        <audio id="the_audio" loop>
            <source src="../public/audio/2_4.mp3" type="audio/mp3">
        </audio>
        <script src="../public/scripts/audio.js"></script>

</body>

</html>