<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/presets.css" type="text/css" />
    <link href="../public/css/navbar.css" type="text/css" rel="stylesheet" />
    <link href="../public/css/character.css" type="text/css" rel="stylesheet" />

    <title>
        <%= character[0].name %>
    </title>
</head>

<body>
    <%- include("../navbar")%>
        <section id="character_List">
            <% if(character.length> 0) {%>
                <div class="container">
                    <div class="bg-title <%= character[0].element%>">
                        <div class="char-title">
                            <div class="vision">
                                <img src="/public/images/elements/<%= character[0].element.toLowerCase()%>.png"
                                    alt="ERROR" />
                            </div>
                            <div class="center-titles">
                                <h4>
                                    <%= character[0].name %>
                                </h4>
                                <div class="stars-container">
                                    <% for(let i=0; i < character[0].star; i++) { %>
                                        <img class="stars" src="/public/images/misc/star.png" alt="star" />
                                        <% } %>
                                </div>
                            </div>
                            <div class="weapon">
                                <img src="/public/images/weapon_icons/<%= character[0].weapon.toLowerCase()%>.png"
                                    alt="ERROR" />
                            </div>
                        </div>
                    </div>
                    <div class="rest">
                        <div class="char-info">
                            <div class="img-side">
                                <img id="img-src"
                                    src="/public/images/character/<%= character[0].name.replace(' ','_')%>/portrait.png"
                                    alt="ERROR" />
                            </div>
                            <div class="details-side">
                                <div class="story">
                                    <h3>Brief Description</h3>
                                    <%=character[0].story%>
                                </div>
                                <div class="constellation">
                                    <h3>Constellation</h3>
                                    <%=character[0].constellation%>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h1>Active Talents</h1>
                    <div class="Actives">
                        <div class="active-block">
                            <div class="icon-con">
                                <img class="<%= character[0].element%>_clr"
                                    src="/public/images/character/<%=character[0].weapon%>.png" alt="ERROR">
                            </div>
                            <div class="box-block">
                                <h2>
                                    Normal Attack: <%= character[0].talents.normalattack.name %>
                                </h2>
                                <pre><span class="precursors">Normal Attack: </span><%= character[0].talents.normalattack.normal %> <br><span class="precursors">Charge Attack: </span><%= character[0].talents.normalattack.charged %> <br><span class="precursors">Plunge Attack: </span><%= character[0].talents.normalattack.plunged %></pre>
                            </div>
                        </div>
                        <div class="active-block">
                            <div class="icon-con">
                                <% if(character[0].name==='Lumine' || character[0].name==='Aether' ) { %>
                                    <img class="<%= character[0].element%>_clr"
                                        src="/public/images/character/<%= character[0].name%>/<%= character[0].element%>skill.png"
                                        alt="ERROR">
                                    <% } else { %>
                                        <img class="<%= character[0].element%>_clr"
                                            src="/public/images/character/<%= character[0].name.replace(' ','_')%>/skill.png"
                                            alt="ERROR">
                                        <% } %>
                            </div>
                            <div class="box-block">
                                <h2>
                                    Elemental Skill: <%= character[0].talents.skill.name %>
                                </h2>
                                <pre><%= character[0].talents.skill.description.trim() %></pre>
                            </div>

                        </div>

                        <div class="active-block">
                            <div class="icon-con <%= character[0].element%>_clr">
                                <% if(character[0].name==='Lumine' || character[0].name==='Aether' ) { %>
                                    <img src="/public/images/character/<%= character[0].name%>/<%= character[0].element%>burst.png"
                                        alt="ERROR">
                                    <% } else { %>
                                        <img src="/public/images/character/<%= character[0].name.replace(' ','_')%>/burst.png"
                                            alt="ERROR">
                                        <% } %>
                            </div>
                            <h2>
                                Elemental Burst: <%= character[0].talents.burst.name %>
                            </h2>
                        </div>
                        <pre><%= character[0].talents.burst.description %></pre>
                        <% if(character[0].talents.altabilities.name !=="None" ) { %>
                            <div class="active-block">
                                <div class="icon-con <%= character[0].element%>_clr">
                                    <img src="/public/images/character/<%= character[0].name.replace(' ','_')%>/alt.png"
                                        alt="ERROR">
                                </div>
                                <h2>
                                    Alternate Ability: <%= character[0].talents.altabilities.name %>
                                </h2>
                            </div>
                            <pre><%= character[0].talents.altabilities.description %></pre>
                            <% } %>
                    </div>
                    <div class="Passives">
                        <h1>Passive Talents</h1>
                        <div class="passive-container">
                            <div class="passive-block">
                                <div class="icon-con <%= character[0].element%>_clr">
                                    <% if(character[0].name==='Lumine' || character[0].name==='Aether' ) { %>
                                        <img src="/public/images/character/<%= character[0].name%>/<%= character[0].element%>asc1.png"
                                            alt="ERROR">
                                        <% } else { %>
                                            <img src="/public/images/character/<%= character[0].name.replace(' ','_')%>/asc1.png"
                                                alt="ERROR">
                                            <% } %>
                                </div>
                                <h2>
                                    First Passive: <%= character[0].talents.passives.battle[0].name %>
                                </h2>
                            </div>
                            <pre><%= character[0].talents.passives.battle[0].description %></pre>
                            <div class="passive-block">
                                <div class="icon-con <%= character[0].element%>_clr">
                                    <% if(character[0].name==='Lumine' || character[0].name==='Aether' ) { %>
                                        <img src="/public/images/character/<%= character[0].name%>/<%= character[0].element%>asc2.png"
                                            alt="ERROR">
                                        <% } else { %>
                                            <img src="/public/images/character/<%= character[0].name.replace(' ','_')%>/asc2.png"
                                                alt="ERROR">
                                            <% } %>
                                </div>
                                <h2>
                                    Second Passive: <%= character[0].talents.passives.battle[1].name %>
                                </h2>
                            </div>
                            <pre><%= character[0].talents.passives.battle[1].description %></pre>
                            <div class="passive-block">
                                <div class="icon-con <%= character[0].element%>_clr">
                                    <img src="/public/images/character/<%= character[0].name.replace(' ','_')%>/passive.png"
                                        alt="ERROR">
                                </div>
                                <h2>
                                    Overworld Passive: <%= character[0].talents.passives.overworld.name %>
                                </h2>
                            </div>
                            <pre><%= character[0].talents.passives.overworld.description %></pre>
                        </div>
                    </div>
                </div>
                <% } %>
        </section>
        <audio id="the_audio" loop>
            <source src="../public/miscs/Radiant_Qilin.mp3" type="audio/mp3">
        </audio>
</body>
<script src="../public/scripts/audio.js"></script>

</html>