<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/presets.css" type="text/css" />
    <link href="../public/css/navbar.css" type="text/css" rel="stylesheet" />
    <link href="../public/css/characters.css" type="text/css" rel="stylesheet" />
    <!-- <script src="https://unpkg.com/boxicons@2.1.1/dist/boxicons.js"></script> -->
    <title>Characters</title>
</head>

<body>
    <%- include("../navbar")%>
        <section>
            <div class="region container" style="display: flex; flex-wrap: wrap; justify-content: center;">
                <% list.map((char)=> { %>
                    <div class="character-container" style="">
                        <div class="char-name" style="font-weight: bold; text-align: center; margin: .15rem 0;">
                            <% if(char.name==='Lumine' || char.name==='Aether' ) { %>
                                <a href='/characters/<%=char.name%>(<%=char.element%>)'>
                                    <%= char.name %>
                                </a>
                                <% } else { %>
                                    <a href='/characters/<%=char.name%>'>
                                        <%= char.name %>
                                    </a>
                                    <% } %>
                        </div>
                        <div class="grid-con">
                            <img class="imgs"
                                src="/public/images/character/<%= char.name.split(' ').join('_')%>/icon.png"
                                alt="ERROR">
                            <a href="/weapons"><img class="weps"
                                    src="/public/images/weapon_icons/<%= char.weapon.toLowerCase()%>.png"
                                    alt="ERROR"></a>
                            <img class="elements" src="/public/images/elements/<%= char.element.toLowerCase()%>.png"
                                alt="ERROR">
                            <div class="stars">
                                <% for(let i=0; i < char.star; i++) { %>
                                    <img class="star" src="/public/images/misc/star.png" alt="star">
                                    <% } %>
                            </div>
                        </div>
                    </div>
                    <% }) %>
            </div>
            <!-- old style -->
            <!-- <table id="table">
                <tr>
                    <th>ICON</th>
                    <th onclick="sortTable(0)">Name</th>
                    <th onclick="sortTable(1)">Star</th>
                    <th onclick="sortTable(2)">Element</th>
                    <th onclick="sortTable(3)">Weapon</th>
                    <th onclick="sortTable(4)">Region</th>
                </tr>
                <% list.map((char)=> { %>
                    <tr>
                        <td class="char-icon">
                            <img src="/public/images/character/<%= char.name.split(' ').join('_')%>/icon.png"
                                alt="fail">
                        </td>
                        <td style="font-weight: bold;">
                            <% if(char.name==='Lumine' || char.name==='Aether' ) { %>
                                <a href='/characters/<%=char.name%>(<%=char.element%>)'>
                                    <%= char.name %>
                                </a>
                                <% } else { %>
                                    <a href='/characters/<%=char.name%>'>
                                        <%= char.name %>
                                    </a>
                                    <% } %>
                        </td>
                        <td>
                            <%= char.star %>
                        </td>
                        <td class="<%= char.element %>">
                            <%= char.element %>
                                <img src="/public/images/elements/<%= char.element.toLowerCase()%>.png"
                                    alt="failed_to_load" />
                        </td>
                        <td>
                            <a href="/weapons/<%= char.weapon %>">
                                <%=char.weapon%>
                            </a>
                        </td>
                        <td>
                            <%if(char.region !=='Unknown' ) { %>
                                <a href="/regions/<%= char.region %>">
                                    <%=char.region%>
                                </a>
                                <% } else { %>
                                    <%=char.region%>
                                        <% } %>
                        </td>
                    </tr>
                    <% }) %>
            </table> -->
        </section>
        <audio id="the_audio" loop>
            <source src="../public/audio/2_4.mp3" type="audio/mp3">
        </audio>
        <script src="../public/scripts/audio.js"></script>

</body>

<style>
    .character-container {
        width: 339px;
        outline: 4px solid black;
        padding: .5rem .5rem;
        margin: 1rem 1rem;
        background: rgba(0, 0, 0, 0.171);
    }

    .grid-con {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;

        gap: 0px;
        height: 100%;
        width: fit-content;

    }

    .imgs {
        grid-row-start: 1;
        grid-column-start: 1;

        grid-row-end: 3;
        grid-column-end: 2;
    }

    .weps,
    .elements {
        height: 55px;
        width: 55px;
    }

    .stars {
        display: flex;
        max-height: 35px;
        max-width: 100px;
    }

    @media only screen and (max-width: 380px) {
        .character-container {
            margin: 0 0;
            width: 100%;
        }
    }
</style>

</html>