<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/presets.css" type="text/css" />
    <link href="../public/css/navbar.css" type="text/css" rel="stylesheet" />
    <link href="../public/css/characters.css" type="text/css" rel="stylesheet" />
    <script src="https://unpkg.com/boxicons@2.1.1/dist/boxicons.js"></script>
    <title>Characters</title>
</head>

<body>
    <%- include("../navbar")%>
        <h1>Characters</h1>
        <section>
            <table id="table">
                <tr>
                    <th>ICON</th>
                    <th onclick="sortTable(0)">Name</th>
                    <th onclick="sortTable(1)">Star</th>
                    <th onclick="sortTable(2)">Element</th>
                    <th onclick="sortTable(3)">Weapon</th>
                    <th onclick="sortTable(4)">Region</th>
                </tr>
                <% list.map((char)=> { %>
                    <tr>
                        <td class="char-icon">
                            <% if(char.name==='Lumine' || char.name==='Aether' ) { %>
                                <img src="/public/images/character/<%=char.name.toLowerCase()%><%=char.element.toLowerCase()%>.png"
                                    alt="fail">
                                <% } else { %>
                                    <img src="/public/images/character/<%=char.name.toLowerCase().split(' ').join('_')%>.png"
                                        alt="fail">
                                    <% } %>
                        </td>
                        <td style="font-weight: bold;">
                            <% if(char.name==='Lumine' || char.name==='Aether' ) { %>
                                <a href='/characters/<%=char.name%>(<%=char.element%>)'>
                                    <%= char.name %>
                                </a>
                                <% } else { %>
                                    <a href='/characters/<%=char.name%>'>
                                        <%= char.name %>
                                    </a>
                                    <% } %>
                        </td>
                        <td>
                            <%= char.star %>
                        </td>
                        <td class="<%= char.element %>">
                            <%= char.element %>
                                <img src="/public/images/elements/<%= char.element.toLowerCase()%>.png"
                                    alt="failed_to_load" />
                        </td>
                        <td>
                            <a href="/weapons/<%= char.weapon %>">
                                <%=char.weapon%>
                            </a>
                        </td>
                        <td>
                            <%if(char.region !=='Unknown' ) { %>
                                <a href="/regions/<%= char.region %>">
                                    <%=char.region%>
                                </a>
                                <% } else { %>
                                    <%=char.region%>
                                        <% } %>
                        </td>
                    </tr>
                    <% }) %>
            </table>
        </section>
        <audio id="the_audio" loop>
            <source src="../public/audio/2_4.mp3" type="audio/mp3">
        </audio>
        <script src="../public/scripts/audio.js"></script>

</body>


<script>

    const currSort = 0;

    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("table");
        switching = true;
        // Set the sorting direction to ascending:
        dir = "asc";
        /* Make a loop that will continue until
        no switching has been done: */
        while (switching) {
            // Start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /* Loop through all table rows (except the
            first, which contains table headers): */
            for (i = 1; i < (rows.length - 1); i++) {
                // Start by saying there should be no switching:
                shouldSwitch = false;
                /* Get the two elements you want to compare,
                one from current row and one from the next: */
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /* Check if the two rows should switch place,
                based on the direction, asc or desc: */
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        // If so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        // If so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /* If a switch has been marked, make the switch
                and mark that a switch has been done: */
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                // Each time a switch is done, increase this count by 1:
                switchcount++;
            } else {
                /* If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again. */
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    document.getElementById('chevron').setAttribute('name', 'chevron-up');
                    switching = true;
                }
            }
        }
    }
</script>

</html>